section.contacts {
  position: relative;
  margin-bottom: 65px;
  margin-top: 100px; }
  section.contacts .dots-canvas {
    position: absolute;
    left: -27px;
    top: -16px; }
    @media (max-width: 1080px) {
      section.contacts .dots-canvas {
        display: none; } }
  section.contacts .container {
    display: grid;
    align-items: flex-start;
    grid-template-columns: calc(50% - 87.5px) calc(50% - 87.5px);
    grid-column-gap: 175px; }
    @media (max-width: 1719px) {
      section.contacts .container {
        grid-template-columns: calc(50% - 40px) calc(50% - 40px);
        grid-column-gap: 80px; } }
    @media (max-width: 1200px) {
      section.contacts .container {
        grid-template-columns: calc(40% - 30px) calc(60% - 30px);
        grid-column-gap: 60px; } }
    @media (max-width: 920px) {
      section.contacts .container {
        grid-template-columns: 1fr; } }
    section.contacts .container .text {
      display: flex;
      flex-direction: column; }
      @media (max-width: 920px) {
        section.contacts .container .text {
          margin-bottom: 20px; } }
      section.contacts .container .text .title {
        font-weight: 500;
        font-size: 35px;
        line-height: 43px;
        color: #1b1b1b;
        margin: 0 0 64px; }
      section.contacts .container .text .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        grid-column-gap: 45px;
        grid-row-gap: 24px; }
        @media (max-width: 920px) {
          section.contacts .container .text .grid {
            grid-template-columns: 1fr 1fr 1fr; } }
        @media (max-width: 767px) {
          section.contacts .container .text .grid {
            grid-template-columns: 1fr 1fr; } }
        @media (max-width: 480px) {
          section.contacts .container .text .grid {
            grid-template-columns: 1fr;
            grid-gap: 15px; } }
        section.contacts .container .text .grid .elem {
          display: flex;
          flex-direction: column; }
          section.contacts .container .text .grid .elem .text {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #1b1b1b;
            margin: 0 0 12px; }
            @media (max-width: 1534px) {
              section.contacts .container .text .grid .elem .text {
                font-size: 14px;
                line-height: 18px; } }
          section.contacts .container .text .grid .elem .desc {
            display: flex;
            flex-direction: column; }
            section.contacts .container .text .grid .elem .desc p {
              font-size: 18px;
              line-height: 22px;
              color: #1b1b1b;
              margin: 0 0 15px; }
              @media (max-width: 1534px) {
                section.contacts .container .text .grid .elem .desc p {
                  font-size: 14px;
                  line-height: 18px; } }
              section.contacts .container .text .grid .elem .desc p:last-child {
                margin-bottom: 0; }
            section.contacts .container .text .grid .elem .desc .phone-grid {
              display: grid;
              grid-template-columns: 1fr 1fr;
              grid-auto-rows: auto;
              grid-column-gap: 15px;
              grid-row-gap: 5px; }
              @media (max-width: 1365px) {
                section.contacts .container .text .grid .elem .desc .phone-grid {
                  grid-template-columns: 1fr; } }
              @media (max-width: 920px) {
                section.contacts .container .text .grid .elem .desc .phone-grid {
                  grid-template-columns: 1fr 1fr; } }
              @media (max-width: 767px) {
                section.contacts .container .text .grid .elem .desc .phone-grid {
                  grid-template-columns: 1fr; } }
              section.contacts .container .text .grid .elem .desc .phone-grid a {
                font-size: 18px;
                line-height: 22px;
                text-decoration: none;
                color: #1b1b1b; }
                @media (max-width: 1534px) {
                  section.contacts .container .text .grid .elem .desc .phone-grid a {
                    font-size: 14px;
                    line-height: 18px; } }
    section.contacts .container .map {
      position: relative;
      height: 100%; }
      @media (max-width: 920px) {
        section.contacts .container .map {
          height: 400px; } }
      section.contacts .container .map iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(50vw - 87.5px);
        height: 100%; }
        @media (max-width: 1719px) {
          section.contacts .container .map iframe {
            width: calc(50vw - 40px); } }
        @media (max-width: 1200px) {
          section.contacts .container .map iframe {
            width: calc(60vw - 30px); } }
        @media (max-width: 920px) {
          section.contacts .container .map iframe {
            width: 100%; } }
