.user-burger {
  display: none;
  width: 30px;
  height: 30px;
  background: url("../img/svg/user.svg") center center/100% 100% no-repeat; }
  @media (max-width: 950px) {
    .user-burger {
      display: block; } }

section.my-orders {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 100%;
  margin-bottom: 115px; }
  @media (max-width: 950px) {
    section.my-orders {
      margin-top: 15px; } }
  section.my-orders > .name {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #1b1b1b;
    margin: 0 0 54px; }
  section.my-orders .order-list {
    display: flex;
    flex-direction: column; }
    section.my-orders .order-list .order {
      display: flex;
      flex-direction: column;
      border: 1px solid #565656;
      box-sizing: border-box;
      border-radius: 10px;
      margin-bottom: 25px; }
      section.my-orders .order-list .order:last-child {
        margin-bottom: 0; }
      section.my-orders .order-list .order .top-block {
        display: grid;
        grid-template-areas: 'status order sum image' 'status status-name sum image';
        padding: 12px 35px 12px 40px;
        transition: padding .3s;
        box-sizing: border-box;
        width: 100%;
        position: relative;
        cursor: pointer;
        align-items: center; }
        @media (max-width: 1365px) {
          section.my-orders .order-list .order .top-block {
            padding: 12px 15px; } }
        @media (max-width: 767px) {
          section.my-orders .order-list .order .top-block {
            grid-template-areas: 'status image image' 'status order sum' 'status status-name sum'; } }
        @media (max-width: 480px) {
          section.my-orders .order-list .order .top-block {
            grid-template-areas: 'status image' 'order order' 'status-name status-name' 'sum sum'; } }
        section.my-orders .order-list .order .top-block:after {
          content: '';
          width: 16px;
          height: 16px;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 35px;
          margin: auto;
          background: url("../img/svg/arrow-down.svg") center center/100% 100% no-repeat;
          transition: transform .3s; }
          @media (max-width: 1365px) {
            section.my-orders .order-list .order .top-block:after {
              right: 15px; } }
        section.my-orders .order-list .order .top-block:before {
          content: '';
          width: calc(100% - 50px);
          height: 0;
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          margin: auto;
          background: #C4C4C4;
          transition: height .3s; }
        section.my-orders .order-list .order .top-block.active {
          padding: 30px 35px 35px 40px; }
          @media (max-width: 1365px) {
            section.my-orders .order-list .order .top-block.active {
              padding: 20px 15px; } }
          section.my-orders .order-list .order .top-block.active:after {
            transform: rotate(-180deg); }
          section.my-orders .order-list .order .top-block.active:before {
            height: 1px; }
        section.my-orders .order-list .order .top-block .status {
          grid-area: status;
          align-self: center;
          justify-self: center;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          margin-right: 75px; }
          @media (max-width: 1365px) {
            section.my-orders .order-list .order .top-block .status {
              margin-right: 20px; } }
          section.my-orders .order-list .order .top-block .status.canceled {
            background: #C4C4C4; }
          section.my-orders .order-list .order .top-block .status.arrived {
            background: #06CCAB; }
          section.my-orders .order-list .order .top-block .status.ondevelop {
            background: #F44336; }
        section.my-orders .order-list .order .top-block .status-code {
          grid-area: order;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px;
          color: #949494;
          margin: 0; }
        section.my-orders .order-list .order .top-block .status-name {
          grid-area: status-name;
          font-weight: 600;
          font-size: 18px;
          line-height: 22px;
          color: #565656;
          margin: 0; }
        section.my-orders .order-list .order .top-block .sum-info {
          grid-area: sum;
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: space-between; }
          section.my-orders .order-list .order .top-block .sum-info .text {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #949494;
            margin: 0;
            flex: 1;
            display: flex;
            align-items: center; }
          section.my-orders .order-list .order .top-block .sum-info .sum {
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #565656;
            margin: 0;
            flex: 1;
            display: flex;
            align-items: center; }
        section.my-orders .order-list .order .top-block .image {
          grid-area: image;
          width: 110px;
          height: 90px; }
          @media (max-width: 767px) {
            section.my-orders .order-list .order .top-block .image {
              width: 150px;
              height: 130px;
              justify-self: center; } }
          section.my-orders .order-list .order .top-block .image img {
            width: 100%;
            height: 100%;
            object-fit: contain; }
      section.my-orders .order-list .order .bottom-block {
        display: grid;
        grid-template-areas: 'characteristic equip';
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 150px;
        margin: 0;
        padding: 0 140px;
        transition: all .3s;
        height: 0;
        overflow: hidden; }
        @media (max-width: 1549px) {
          section.my-orders .order-list .order .bottom-block {
            grid-column-gap: 100px;
            grid-template-areas: 'characteristic' 'equip';
            grid-template-columns: 1fr;
            grid-row-gap: 20px; } }
        section.my-orders .order-list .order .bottom-block.active {
          margin-top: 45px;
          padding: 0 140px 75px; }
          @media (max-width: 1549px) {
            section.my-orders .order-list .order .bottom-block.active {
              padding: 0 50px 55px; } }
          @media (max-width: 767px) {
            section.my-orders .order-list .order .bottom-block.active {
              padding: 0 20px 20px; } }
        section.my-orders .order-list .order .bottom-block .characteristic {
          grid-area: characteristic;
          display: flex;
          flex-direction: column; }
          section.my-orders .order-list .order .bottom-block .characteristic .text {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #1b1b1b;
            margin: 0 0 16px; }
          section.my-orders .order-list .order .bottom-block .characteristic ul {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            list-style: none; }
            section.my-orders .order-list .order .bottom-block .characteristic ul li {
              display: flex;
              align-items: center;
              font-size: 18px;
              line-height: 130%;
              color: #000;
              flex-wrap: wrap;
              margin-bottom: 5px; }
              section.my-orders .order-list .order .bottom-block .characteristic ul li p {
                margin: 0; }
              section.my-orders .order-list .order .bottom-block .characteristic ul li .name {
                margin-right: 3px; }
                section.my-orders .order-list .order .bottom-block .characteristic ul li .name:after {
                  content: ':'; }
        section.my-orders .order-list .order .bottom-block .equip {
          grid-area: equip;
          display: flex;
          flex-direction: column; }
          section.my-orders .order-list .order .bottom-block .equip .text {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: #1b1b1b;
            margin: 0 0 16px; }
          section.my-orders .order-list .order .bottom-block .equip ul {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin: 0;
            list-style: none; }
            section.my-orders .order-list .order .bottom-block .equip ul li {
              display: flex;
              align-items: center;
              font-size: 18px;
              line-height: 130%;
              color: #000; }
              section.my-orders .order-list .order .bottom-block .equip ul li p {
                margin: 0; }
              section.my-orders .order-list .order .bottom-block .equip ul li .name {
                margin-right: 3px; }
                section.my-orders .order-list .order .bottom-block .equip ul li .name:after {
                  margin-left: 3px;
                  content: '-'; }
