section.user-info {
  display: flex;
  flex-direction: column;
  width: 390px;
  margin-right: 30px;
  margin-bottom: 115px;
  margin-top: 40px; }
  section.user-info .user {
    display: flex;
    align-items: center;
    margin-bottom: 50px; }
    section.user-info .user .image {
      width: 40px;
      height: 40px;
      margin-right: 24px; }
      section.user-info .user .image img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    section.user-info .user .info {
      width: calc(100% - 64px);
      display: flex;
      flex-direction: column;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: #565656; }
      section.user-info .user .info .name {
        font-weight: 600;
        margin: 0 0 2px; }
      section.user-info .user .info .email {
        text-decoration: underline;
        margin: 0; }
  section.user-info .tabs {
    display: flex;
    flex-direction: column;
    border: 1px solid #565656;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 45px 0;
    width: 100%; }
    section.user-info .tabs a {
      width: 100%;
      box-sizing: border-box;
      font-size: 18px;
      line-height: 22px;
      color: #1b1b1b;
      text-decoration: none;
      padding: 5px 10px 5px 110px;
      margin-bottom: 35px; }
      section.user-info .tabs a span {
        position: relative; }
        section.user-info .tabs a span:before {
          content: '';
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto; }
      section.user-info .tabs a:hover {
        background: rgba(255, 201, 25, 0.5); }
      section.user-info .tabs a.my-orders span:before {
        left: -44px;
        width: 30px;
        height: 30px;
        background: url("../img/svg/cart.svg") center center/100% 100% no-repeat; }
      section.user-info .tabs a.favorite span:before {
        left: -39px;
        width: 24px;
        height: 24px;
        background: url("../img/svg/favorite.svg") center center/100% 100% no-repeat; }
      section.user-info .tabs a.watched span:before {
        left: -40px;
        width: 25px;
        height: 25px;
        background: url("../img/svg/eye.svg") center center/100% 100% no-repeat; }
      section.user-info .tabs a.newsletters span:before {
        left: -40px;
        width: 24px;
        height: 24px;
        background: url("../img/svg/notification.svg") center center/100% 100% no-repeat; }
      section.user-info .tabs a.bonuses span:before {
        left: -40px;
        width: 25px;
        height: 25px;
        background: url("../img/svg/gift-box.svg") center center/100% 100% no-repeat; }
      section.user-info .tabs a.recommendations span:before {
        left: -40px;
        width: 25px;
        height: 25px;
        background: url("../img/svg/quality.svg") center center/100% 100% no-repeat; }
      section.user-info .tabs a.reviews span:before {
        left: -40px;
        width: 26px;
        height: 26px;
        background: url("../img/svg/consulting-message.svg") center center/100% 100% no-repeat; }
      section.user-info .tabs a.lists span:before {
        left: -40px;
        width: 27px;
        height: 27px;
        background: url("../img/svg/email.svg") center center/100% 100% no-repeat; }
      section.user-info .tabs a.promotions span:before {
        left: -40px;
        width: 26px;
        height: 26px;
        background: url("../img/svg/event.svg") center center/100% 100% no-repeat; }
    section.user-info .tabs .top {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-bottom: 30px;
      position: relative; }
      section.user-info .tabs .top a:last-child {
        margin-bottom: 0; }
      section.user-info .tabs .top:after {
        content: '';
        width: calc(100% - 20px);
        height: 1px;
        background: #565656;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; }
    section.user-info .tabs .bottom {
      padding-top: 30px;
      display: flex;
      flex-direction: column; }
      section.user-info .tabs .bottom a:last-child {
        margin-bottom: 0; }
