section.filter {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px; }
  @media (max-width: 950px) {
    section.filter {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-110%);
      transition: transform .3s;
      background: #ffffff;
      z-index: 10; }
      section.filter.active {
        transform: translateX(0); } }
  @media (max-width: 576px) {
    section.filter {
      width: 100vw !important;
      position: fixed;
      height: 100vh;
      overflow: scroll; } }
  section.filter .close {
    position: fixed;
    top: 25px;
    right: 15px;
    width: 20px;
    height: 20px;
    z-index: 12;
    transition: right .3s;
    display: none; }
    @media (max-width: 950px) {
      section.filter .close {
        display: block; } }
    section.filter .close:before {
      content: '';
      width: 100%;
      height: 2px;
      background: #000;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      position: absolute;
      transform: rotate(45deg); }
    section.filter .close:after {
      content: '';
      width: 100%;
      height: 2px;
      background: #000;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      position: absolute;
      transform: rotate(-45deg); }
  section.filter .filter-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #1B1B1B;
    border-radius: 10px;
    margin-bottom: 32px; }
    section.filter .filter-list:last-child {
      margin-bottom: 0; }
    section.filter .filter-list > p {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #1b1b1b;
      margin: 0 0 20px; }
    section.filter .filter-list ul {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      list-style: none; }
      section.filter .filter-list ul li {
        font-size: 18px;
        line-height: 22px;
        color: #1b1b1b;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column; }
        section.filter .filter-list ul li:last-child {
          margin-bottom: 0; }
        section.filter .filter-list ul li > span {
          width: 100%;
          padding: 5px 38px 5px 20px;
          box-sizing: border-box;
          position: relative;
          display: block; }
          section.filter .filter-list ul li > span:hover {
            background: rgba(255, 201, 25, 0.6); }
        section.filter .filter-list ul li a {
          color: inherit;
          text-decoration: inherit; }
        section.filter .filter-list ul li > a {
          width: 100%; }
          section.filter .filter-list ul li > a:hover {
            background: rgba(255, 201, 25, 0.6); }
        section.filter .filter-list ul li label {
          width: 100%;
          display: block;
          position: relative;
          padding: 2px 0 2px 40px;
          cursor: pointer;
          font-size: 18px;
          line-height: 24px;
          user-select: none;
          box-sizing: border-box; }
          section.filter .filter-list ul li label input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0; }
            section.filter .filter-list ul li label input:checked ~ span:after {
              content: ''; }
          section.filter .filter-list ul li label .check {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            margin: auto;
            height: 24px;
            width: 24px;
            border: 1px solid #1b1b1b;
            border-radius: 4px; }
            section.filter .filter-list ul li label .check:after {
              content: none;
              width: 12px;
              height: 5px;
              position: absolute;
              top: -3px;
              right: 0;
              bottom: 0;
              left: 0;
              margin: auto;
              border: solid #1b1b1b;
              border-width: 0 0 2px 2px;
              transform: rotate(-45deg); }
          section.filter .filter-list ul li label .text > span {
            color: rgba(27, 27, 27, 0.5);
            margin-left: 5px; }
    section.filter .filter-list.hidden > p {
      position: relative;
      cursor: pointer;
      margin-bottom: 0;
      transition: margin .3s; }
      section.filter .filter-list.hidden > p.active {
        margin-bottom: 20px; }
        section.filter .filter-list.hidden > p.active:after {
          transform: rotate(0deg); }
      section.filter .filter-list.hidden > p:after {
        content: '';
        width: 16px;
        height: 16px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background: url("../img/svg/arrow-down.svg") center center/100% 100% no-repeat;
        transform: rotate(180deg);
        transition: transform .3s; }
    section.filter .filter-list.hidden > ul {
      overflow: hidden;
      height: 0;
      transition: height .3s; }
  section.filter .catalog {
    padding: 10px 0; }
    section.filter .catalog > p {
      font-size: 20px;
      line-height: 24px;
      position: relative;
      border-bottom: 1px solid #000;
      padding: 10px 10px 12px 46px; }
      section.filter .catalog > p:before {
        content: '';
        width: 18px;
        height: 10px;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 20px;
        background: url("../img/svg/burger.svg") center center/100% 100% no-repeat; }
    section.filter .catalog ul li {
      font-weight: 500; }
      section.filter .catalog ul li.has-child > span:after {
        content: '';
        width: 16px;
        height: 16px;
        position: absolute;
        top: 0;
        right: 20px;
        bottom: 0;
        margin: auto;
        background: url("../img/svg/arrow-down.svg") center center/100% 100% no-repeat;
        transition: transform .3s; }
      section.filter .catalog ul li.has-child > span.active:after {
        transform: rotate(180deg); }
      section.filter .catalog ul li.has-child > ul {
        height: 0;
        overflow: hidden;
        transition: all .3s; }
        section.filter .catalog ul li.has-child > ul li {
          font-weight: 400; }
        section.filter .catalog ul li.has-child > ul.active {
          padding-top: 15px;
          padding-bottom: 15px;
          border-bottom: 1px solid #000;
          margin-bottom: 25px; }
  section.filter .price .price-inputs {
    display: flex;
    align-items: center; }
    section.filter .price .price-inputs label {
      max-width: 120px;
      width: 120px; }
      section.filter .price .price-inputs label input {
        width: 100%;
        appearance: none;
        -moz-appearance: textfield;
        box-sizing: border-box;
        border: 1px solid #1B1B1B;
        border-radius: 4px;
        font-size: 18px;
        line-height: 22px;
        padding: 5px;
        color: #1b1b1b;
        text-align: center;
        outline: none; }
        section.filter .price .price-inputs label input::-webkit-outer-spin-button, section.filter .price .price-inputs label input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0; }
    section.filter .price .price-inputs span {
      font-size: 18px;
      line-height: 22px;
      color: #1b1b1b;
      margin: 0 7px; }
    section.filter .price .price-inputs input[type='submit'] {
      margin-left: 12px;
      font-size: 18px;
      line-height: 22px;
      color: #ffffff;
      outline: none;
      cursor: pointer;
      padding: 6px 12px;
      background: #917898;
      border-radius: 4px;
      border: none; }
  section.filter .price .checkbox-label {
    margin-top: 25px;
    width: 100%;
    display: block;
    position: relative;
    padding: 2px 0 2px 40px;
    cursor: pointer;
    font-size: 18px;
    line-height: 24px;
    user-select: none;
    box-sizing: border-box; }
    section.filter .price .checkbox-label input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0; }
      section.filter .price .checkbox-label input:checked ~ span:after {
        content: ''; }
    section.filter .price .checkbox-label .check {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      height: 24px;
      width: 24px;
      border: 1px solid #1b1b1b;
      border-radius: 4px; }
      section.filter .price .checkbox-label .check:after {
        content: none;
        width: 12px;
        height: 5px;
        position: absolute;
        top: -3px;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        border: solid #1b1b1b;
        border-width: 0 0 2px 2px;
        transform: rotate(-45deg); }
    section.filter .price .checkbox-label .text > span {
      color: rgba(27, 27, 27, 0.5);
      margin-left: 5px; }
  section.filter .price .irs--round .irs-handle {
    border: 6px solid #917898; }
  section.filter .price .irs--round .irs-bar {
    background-color: #917898; }
