.user-burger
  display: none
  width: 30px
  height: 30px
  background: url("../img/svg/user.svg") center center / 100% 100% no-repeat
  @media (max-width: 950px)
    display: block
section.my-orders
  display: flex
  flex-direction: column
  margin-top: 40px
  width: 100%
  margin-bottom: 115px
  @media (max-width: 950px)
    margin-top: 15px
  &>.name
    font-weight: 500
    font-size: 35px
    line-height: 42px
    color: #1b1b1b
    margin: 0 0 54px
  .order-list
    display: flex
    flex-direction: column
    .order
      display: flex
      flex-direction: column
      border: 1px solid #565656
      box-sizing: border-box
      border-radius: 10px
      margin-bottom: 25px
      &:last-child
        margin-bottom: 0
      .top-block
        display: grid
        grid-template-areas: 'status order sum image' 'status status-name sum image'
        padding: 12px 35px 12px 40px
        transition: padding .3s
        box-sizing: border-box
        width: 100%
        position: relative
        cursor: pointer
        align-items: center
        @media (max-width: 1365px)
          padding: 12px 15px
        @media (max-width: 767px)
          grid-template-areas: 'status image image' 'status order sum' 'status status-name sum'
        @media (max-width: 480px)
          grid-template-areas: 'status image' 'order order' 'status-name status-name' 'sum sum'
        &:after
          content: ''
          width: 16px
          height: 16px
          position: absolute
          top: 0
          bottom: 0
          right: 35px
          margin: auto
          background: url("../img/svg/arrow-down.svg") center center / 100% 100% no-repeat
          transition: transform .3s
          @media (max-width: 1365px)
            right: 15px
        &:before
          content: ''
          width: calc(100% - 50px)
          height: 0
          position: absolute
          bottom: 0
          right: 0
          left: 0
          margin: auto
          background: #C4C4C4
          transition: height .3s
        &.active
          padding: 30px 35px 35px 40px
          @media (max-width: 1365px)
            padding: 20px 15px
          &:after
            transform: rotate(-180deg)
          &:before
            height: 1px
        .status
          grid-area: status
          align-self: center
          justify-self: center
          width: 24px
          height: 24px
          border-radius: 50%
          margin-right: 75px
          @media (max-width: 1365px)
            margin-right: 20px
          &.canceled
            background: #C4C4C4
          &.arrived
            background: #06CCAB
          &.ondevelop
            background: #F44336
        .status-code
          grid-area: order
          font-weight: 500
          font-size: 18px
          line-height: 22px
          color: #949494
          margin: 0
        .status-name
          grid-area: status-name
          font-weight: 600
          font-size: 18px
          line-height: 22px
          color: #565656
          margin: 0
        .sum-info
          grid-area: sum
          display: flex
          flex-direction: column
          height: 100%
          justify-content: space-between
          .text
            font-weight: 500
            font-size: 18px
            line-height: 22px
            color: #949494
            margin: 0
            flex: 1
            display: flex
            align-items: center
          .sum
            font-weight: 600
            font-size: 18px
            line-height: 22px
            color: #565656
            margin: 0
            flex: 1
            display: flex
            align-items: center
        .image
          grid-area: image
          width: 110px
          height: 90px
          @media (max-width: 767px)
            width: 150px
            height: 130px
            justify-self: center
          img
            width: 100%
            height: 100%
            object-fit: contain
      .bottom-block
        display: grid
        grid-template-areas: 'characteristic equip'
        grid-template-columns: 1fr 1fr
        grid-column-gap: 150px
        margin: 0
        padding: 0 140px
        transition: all .3s
        height: 0
        overflow: hidden
        @media (max-width: 1549px)
          grid-column-gap: 100px
          grid-template-areas: 'characteristic' 'equip'
          grid-template-columns: 1fr
          grid-row-gap: 20px
        &.active
          margin-top: 45px
          padding: 0 140px 75px
          @media (max-width: 1549px)
            padding: 0 50px 55px
          @media (max-width: 767px)
            padding: 0 20px 20px
        .characteristic
          grid-area: characteristic
          display: flex
          flex-direction: column
          .text
            font-weight: 500
            font-size: 18px
            line-height: 22px
            color: #1b1b1b
            margin: 0 0 16px
          ul
            display: flex
            flex-direction: column
            padding: 0
            margin: 0
            list-style: none
            li
              display: flex
              align-items: center
              font-size: 18px
              line-height: 130%
              color: #000
              flex-wrap: wrap
              margin-bottom: 5px
              p
                margin: 0
              .name
                margin-right: 3px
                &:after
                  content: ':'
        .equip
          grid-area: equip
          display: flex
          flex-direction: column
          .text
            font-weight: 500
            font-size: 18px
            line-height: 22px
            color: #1b1b1b
            margin: 0 0 16px
          ul
            display: flex
            flex-direction: column
            padding: 0
            margin: 0
            list-style: none
            li
              display: flex
              align-items: center
              font-size: 18px
              line-height: 130%
              color: #000
              p
                margin: 0
              .name
                margin-right: 3px
                &:after
                  margin-left: 3px
                  content: '-'

