section.cart-aside {
  display: flex;
  flex-direction: column;
  width: 395px;
  margin-left: 30px; }
  section.cart-aside .coupon {
    display: flex;
    flex-direction: column;
    border: 1px solid #949494;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 28px 30px;
    width: 100%; }
    section.cart-aside .coupon .top {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      section.cart-aside .coupon .top > p {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #1b1b1b;
        margin: 0; }
      section.cart-aside .coupon .top .btn {
        border: none;
        outline: none;
        cursor: pointer;
        background: transparent;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #699eef;
        margin: 0; }
    section.cart-aside .coupon .coupon-field {
      height: 0;
      transition: all .3s;
      overflow: hidden; }
      section.cart-aside .coupon .coupon-field.active {
        padding-top: 35px;
        border-top: 1px solid #C4C4C4;
        margin-top: 25px;
        padding-bottom: 5px; }
      section.cart-aside .coupon .coupon-field .content {
        display: flex;
        align-items: center;
        box-sizing: content-box; }
      section.cart-aside .coupon .coupon-field .btn {
        width: 100px;
        margin-left: 20px;
        padding: 10px 5px;
        background: #917898;
        border-radius: 5px;
        font-size: 18px;
        line-height: 22px;
        color: #ffffff;
        text-decoration: none;
        text-align: center; }
      section.cart-aside .coupon .coupon-field label {
        width: calc(100% - 120px);
        display: flex; }
        section.cart-aside .coupon .coupon-field label input {
          width: 100%;
          border: 1px solid #4D4D4D;
          border-radius: 4px;
          background: transparent;
          font-size: 18px;
          line-height: 22px;
          padding: 10px 8px;
          color: #000; }
  section.cart-aside .total-field {
    padding: 30px 20px;
    border: 1px solid #949494;
    box-sizing: border-box;
    border-radius: 4px; }
    section.cart-aside .total-field .text {
      font-weight: 500;
      font-size: 35px;
      line-height: 43px;
      color: #1b1b1b;
      margin: 0 0 25px; }
    section.cart-aside .total-field ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0 0 20px;
      border-bottom: 1px solid #C4C4C4;
      margin: 0 0 35px; }
      section.cart-aside .total-field ul li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px; }
        section.cart-aside .total-field ul li:last-child {
          margin-bottom: 0; }
        section.cart-aside .total-field ul li p {
          margin: 0;
          font-weight: 500;
          font-size: 18px;
          line-height: 22px; }
        section.cart-aside .total-field ul li .name {
          color: #949494; }
        section.cart-aside .total-field ul li .value {
          color: #1b1b1b; }
          section.cart-aside .total-field ul li .value span {
            margin-left: 3px; }
    section.cart-aside .total-field .total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 25px;
      border-bottom: 1px solid #C4C4C4;
      margin-bottom: 20px; }
      section.cart-aside .total-field .total .name {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #949494;
        margin: 0; }
      section.cart-aside .total-field .total .value {
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        color: #1b1b1b;
        margin: 0; }
    section.cart-aside .total-field .confirm {
      width: 100%;
      box-sizing: border-box;
      background: #917898;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 25px 10px;
      font-size: 18px;
      line-height: 22px;
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      outline: none;
      margin: 0 0 15px; }
