section.features
  padding-top: 50px
  padding-bottom: 75px
  background: #917898
  margin-bottom: 100px
  position: relative
  &.white
    background: transparent
    .dots-canvas
      display: none
    .container
      .title
        display: none
      .grid
        .elem
          .name
            color: #4d4d4d
          .desc
            color: #4d4d4d
  .container
    display: flex
    flex-direction: column
    .title
      font-weight: 500
      font-size: 35px
      line-height: 43px
      color: #ffffff
      margin: 0 0 80px
    .grid
      display: grid
      grid-template-columns: repeat(4, 1fr)
      grid-column-gap: 75px
      grid-auto-rows: auto
      .elem
        display: flex
        flex-direction: column
        .image
          width: 94px
          height: 94px
          margin-bottom: 25px
          margin-left: 32px
        .name
          font-weight: 500
          font-size: 22px
          line-height: 27px
          color: #ffffff
          margin: 0 0 25px
        .desc
          font-size: 16px
          line-height: 20px
          color: #ffffff
          margin: 0
  .dots-canvas
    position: absolute
    top: -27px
    right: 17px