@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo_2/Exo2-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo_2/Exo2-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo_2/Exo2-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo_2/Exo2-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo_2/Exo2-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo_2/Exo2-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo_2/Exo2-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo_2/Exo2-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo_2/Exo2-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo_2/Exo2-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo_2/Exo2-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo_2/Exo2-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo_2/Exo2-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo_2/Exo2-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo_2/Exo2-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo_2/Exo2-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo_2/Exo2-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Exo2';
  src: url("../fonts/Exo_2/Exo2-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  box-sizing: border-box; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: none; } }
  @media (min-width: 1024px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1024px; } }
  @media (min-width: 1365px) {
    .container {
      max-width: 1200px; } }
  @media (min-width: 1535px) {
    .container {
      max-width: 1280px; } }
  @media (min-width: 1720px) {
    .container {
      max-width: 1366px; } }
  @media (min-width: 1920px) {
    .container {
      max-width: 1660px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  box-sizing: border-box; }
  .container-fluid .container {
    padding-right: 0;
    padding-left: 0; }

html {
  overflow-x: hidden; }

body {
  min-height: 100vh;
  display: flex;
  font-family: Montserrat;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  color: #282828; }
  body.hidden {
    max-height: 100vh;
    overflow: hidden; }
  body * {
    -webkit-tap-highlight-color: transparent; }
  body main {
    flex: 1; }

img {
  width: 100%;
  height: auto; }

.container.flex-container {
  display: flex; }
  .container.flex-container .filter {
    width: 395px;
    margin-right: 30px; }
    @media (max-width: 1535px) {
      .container.flex-container .filter {
        width: 320px;
        margin-right: 20px; } }
  .container.flex-container .small-container {
    width: calc(100% - 425px); }
    @media (max-width: 1535px) {
      .container.flex-container .small-container {
        width: calc(100% - 340px); } }

section.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  pointer-events: none;
  opacity: 0;
  z-index: -1; }
  section.wrapper.active {
    z-index: 10;
    user-select: auto;
    pointer-events: auto;
    opacity: 1; }
  section.wrapper .popup {
    position: fixed;
    width: max-content;
    height: max-content;
    max-width: calc(100vw - 30px);
    max-height: 100vh;
    overflow-y: scroll;
    background: #ffffff;
    display: flex;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    z-index: -1; }
    section.wrapper .popup::-webkit-scrollbar-track {
      background-color: #fff; }
    section.wrapper .popup::-webkit-scrollbar {
      width: 8px;
      background-color: #F5F5F5; }
    section.wrapper .popup::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #917898; }
    section.wrapper .popup.active {
      z-index: 11;
      user-select: auto;
      pointer-events: auto;
      opacity: 1; }
    section.wrapper .popup > .close {
      position: absolute;
      top: 30px;
      right: 30px;
      width: 15.5px;
      height: 15.5px;
      cursor: pointer; }
      section.wrapper .popup > .close:before {
        content: '';
        width: 24px;
        height: 2px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        transform: rotate(45deg);
        background: #000; }
      section.wrapper .popup > .close:after {
        content: '';
        width: 24px;
        height: 2px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        transform: rotate(-45deg);
        background: #000; }

header {
  margin-top: 35px; }
  @media (max-width: 767px) {
    header {
      margin-top: 0;
      background: #FFC919;
      margin-bottom: 45px; } }
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 65px 10px;
    background: #FFC919;
    box-sizing: border-box;
    border-radius: 60px;
    margin-bottom: 45px; }
    @media (max-width: 1365px) {
      header .container {
        padding: 20px 35px 10px; } }
    @media (max-width: 991px) {
      header .container {
        position: static; } }
    @media (max-width: 767px) {
      header .container {
        border-radius: 0;
        background: transparent;
        margin-bottom: 0;
        padding: 10px 15px; } }
    header .container .logo {
      width: 228px;
      height: 71px; }
      @media (max-width: 1365px) {
        header .container .logo {
          width: 175px;
          height: 54px; } }
      @media (max-width: 767px) {
        header .container .logo {
          width: 125px;
          height: 43px;
          margin-right: 15px; } }
      @media (max-width: 480px) {
        header .container .logo {
          height: auto; } }
    header .container .content {
      display: flex;
      width: calc(100% - 285px);
      flex-direction: column; }
      @media (max-width: 1534px) {
        header .container .content {
          width: calc(100% - 245px); } }
      @media (max-width: 1365px) {
        header .container .content {
          width: calc(100% - 200px); } }
      @media (max-width: 991px) {
        header .container .content {
          flex-direction: row; } }
      @media (max-width: 767px) {
        header .container .content {
          width: auto; } }
      header .container .content .top {
        display: flex;
        align-items: center;
        margin-bottom: 17px; }
        @media (max-width: 991px) {
          header .container .content .top {
            flex: 1; } }
        @media (max-width: 767px) {
          header .container .content .top {
            margin: 0; } }
        header .container .content .top .phones {
          position: relative;
          margin-right: 60px; }
          @media (max-width: 991px) {
            header .container .content .top .phones {
              position: fixed;
              top: 0;
              right: -105%;
              background: #FFC919;
              margin-right: 0;
              width: 350px;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: center;
              z-index: 11;
              transition: right .3s; }
              header .container .content .top .phones.active {
                right: 0; }
                header .container .content .top .phones.active .close {
                  right: 15px; }
              header .container .content .top .phones .close {
                position: fixed;
                top: 15px;
                right: -105%;
                width: 20px;
                height: 20px;
                z-index: 12;
                transition: right .3s; }
                header .container .content .top .phones .close:before {
                  content: '';
                  width: 100%;
                  height: 2px;
                  background: #000;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  margin: auto;
                  position: absolute;
                  transform: rotate(45deg); }
                header .container .content .top .phones .close:after {
                  content: '';
                  width: 100%;
                  height: 2px;
                  background: #000;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  margin: auto;
                  position: absolute;
                  transform: rotate(-45deg); } }
          @media (max-width: 576px) {
            header .container .content .top .phones {
              width: 100vw; } }
          header .container .content .top .phones .main-phone {
            display: flex;
            align-items: center;
            position: relative;
            padding-right: 10px; }
            header .container .content .top .phones .main-phone a {
              font-size: 16px;
              line-height: 140%;
              text-transform: uppercase;
              text-decoration: none;
              color: #181818;
              padding-right: 23px; }
            header .container .content .top .phones .main-phone span {
              position: absolute;
              right: 0;
              top: 0;
              bottom: 0;
              margin: auto;
              cursor: pointer;
              width: 16px;
              height: 16px;
              background: url("../img/svg/arrow-down.svg") center center/100% 100% no-repeat;
              z-index: 11; }
              @media (max-width: 991px) {
                header .container .content .top .phones .main-phone span {
                  right: 10px; } }
          header .container .content .top .phones ul {
            padding: 0 10px;
            margin: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            height: 0;
            overflow: hidden;
            transition: height .3s, padding .3s;
            position: absolute;
            left: -10px;
            width: max-content;
            top: 100%;
            background: #FFC919; }
            @media (max-width: 991px) {
              header .container .content .top .phones ul {
                width: 100%;
                padding: 0;
                left: 0;
                background: #e2af18; } }
            header .container .content .top .phones ul.active {
              padding: 10px; }
              @media (max-width: 991px) {
                header .container .content .top .phones ul.active {
                  padding: 10px 0; } }
            header .container .content .top .phones ul li {
              font-size: 16px;
              line-height: 140%;
              text-transform: uppercase;
              text-decoration: none;
              color: #181818;
              margin-bottom: 5px; }
              @media (max-width: 991px) {
                header .container .content .top .phones ul li {
                  text-align: center; } }
              header .container .content .top .phones ul li a {
                color: inherit;
                text-decoration: inherit; }
              header .container .content .top .phones ul li:last-child {
                margin-bottom: 0; }
        header .container .content .top .search {
          flex: 1;
          margin-right: 75px;
          max-width: 600px;
          display: flex;
          align-items: center;
          position: relative; }
          @media (max-width: 991px) {
            header .container .content .top .search {
              margin-right: 45px; } }
          @media (max-width: 767px) {
            header .container .content .top .search {
              margin-right: 30px; } }
          @media (max-width: 480px) {
            header .container .content .top .search {
              margin-right: 20px; } }
          header .container .content .top .search label {
            width: 100%;
            display: flex; }
            @media (max-width: 767px) {
              header .container .content .top .search label {
                position: fixed;
                top: 0;
                left: 0;
                z-index: 11;
                width: 100vw;
                height: 100vh;
                background: rgba(0, 0, 0, 0.4);
                opacity: 0;
                user-select: none;
                pointer-events: none;
                transition: opacity .3s; }
                header .container .content .top .search label.active {
                  opacity: 1;
                  user-select: auto;
                  pointer-events: auto; } }
            header .container .content .top .search label input {
              width: 100%;
              background: transparent;
              padding: 10px 0;
              box-sizing: border-box;
              border: solid #434343;
              border-width: 0 0 1px 0;
              font-weight: 500;
              font-size: 16px;
              line-height: 140%;
              color: #434343;
              outline: none; }
              @media (max-width: 767px) {
                header .container .content .top .search label input {
                  position: absolute;
                  top: 10px;
                  left: 0;
                  right: 0;
                  margin: auto;
                  width: calc(100% - 30px);
                  background: #ffffff;
                  padding: 10px; } }
          header .container .content .top .search a {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 23px;
            height: 23px;
            background: url("../img/svg/search.svg") center center/100% 100% no-repeat; }
            @media (max-width: 767px) {
              header .container .content .top .search a {
                position: static; } }
            @media (max-width: 480px) {
              header .container .content .top .search a {
                width: 20px;
                height: 20px; } }
        header .container .content .top .langs {
          display: flex;
          align-items: center;
          font-size: 16px;
          line-height: 140%;
          color: #181818; }
          @media (max-width: 991px) {
            header .container .content .top .langs {
              position: fixed;
              bottom: 0;
              width: 350px;
              display: flex;
              align-items: center;
              justify-content: center;
              background: #FFC919;
              z-index: 10;
              height: 30px;
              right: -105%;
              transition: right .3s; }
              header .container .content .top .langs.active {
                right: 0; } }
          @media (max-width: 576px) {
            header .container .content .top .langs {
              width: 100vw; } }
          header .container .content .top .langs a {
            color: inherit;
            text-decoration: inherit;
            margin-right: 25px;
            position: relative; }
            header .container .content .top .langs a:after {
              content: '';
              width: 1px;
              height: 100%;
              position: absolute;
              right: -12px;
              top: 0;
              bottom: 0;
              margin: auto;
              background: #181818; }
            header .container .content .top .langs a:last-child {
              margin-right: 0; }
              header .container .content .top .langs a:last-child:after {
                content: none; }
            header .container .content .top .langs a.active {
              color: #434343; }
      header .container .content .bottom {
        display: flex;
        align-items: center; }
        header .container .content .bottom nav {
          flex: 1;
          display: flex;
          justify-content: space-between;
          margin-left: 75px;
          margin-right: 120px; }
          @media (max-width: 1719px) {
            header .container .content .bottom nav {
              margin-right: 50px;
              margin-left: 50px; } }
          @media (max-width: 1534px) {
            header .container .content .bottom nav {
              margin-left: 0;
              margin-right: 15px; } }
          @media (max-width: 991px) {
            header .container .content .bottom nav {
              position: fixed;
              display: flex;
              flex-direction: column;
              height: calc(100vh - 80px);
              top: 50px;
              background: #FFC919;
              width: 350px;
              z-index: 10;
              margin-right: 0;
              padding-top: 15px;
              box-sizing: border-box;
              right: -105%;
              transition: right .3s; }
              header .container .content .bottom nav.active {
                right: 0; } }
          @media (max-width: 576px) {
            header .container .content .bottom nav {
              width: 100vw; } }
          header .container .content .bottom nav ul {
            width: 100%;
            justify-content: space-between;
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;
            list-style: none; }
            @media (max-width: 991px) {
              header .container .content .bottom nav ul {
                flex-direction: column; } }
            header .container .content .bottom nav ul li {
              font-size: 18px;
              line-height: 22px;
              color: #181818; }
              @media (max-width: 1365px) {
                header .container .content .bottom nav ul li {
                  font-size: 15px;
                  line-height: 18px; } }
              @media (max-width: 991px) {
                header .container .content .bottom nav ul li {
                  font-size: 18px;
                  line-height: 22px;
                  margin-bottom: 15px; } }
              header .container .content .bottom nav ul li a {
                color: inherit;
                text-decoration: inherit; }
        header .container .content .bottom .user-menu {
          display: flex;
          align-items: center; }
          header .container .content .bottom .user-menu .user {
            position: relative;
            margin-right: 28px;
            background: url("../img/svg/user.svg") center center/100% 100% no-repeat;
            width: 27px;
            height: 27px; }
            @media (max-width: 1365px) {
              header .container .content .bottom .user-menu .user {
                width: 22px;
                height: 22px; } }
            @media (max-width: 480px) {
              header .container .content .bottom .user-menu .user {
                width: 20px;
                height: 20px;
                margin-right: 20px; } }
          header .container .content .bottom .user-menu .favorite {
            margin-right: 28px;
            width: 30px;
            height: 30px;
            background: url("../img/svg/favorite.svg") center center/100% 100%;
            position: relative; }
            @media (max-width: 1365px) {
              header .container .content .bottom .user-menu .favorite {
                width: 25px;
                height: 25px; } }
            @media (max-width: 480px) {
              header .container .content .bottom .user-menu .favorite {
                width: 20px;
                height: 20px;
                margin-right: 20px; } }
            header .container .content .bottom .user-menu .favorite span {
              position: absolute;
              left: 31px;
              top: -13px;
              font-weight: 500;
              font-size: 12px;
              line-height: 140%;
              text-transform: uppercase;
              text-align: center;
              color: #434343; }
              @media (max-width: 480px) {
                header .container .content .bottom .user-menu .favorite span {
                  left: 18px;
                  font-size: 10px; } }
          header .container .content .bottom .user-menu .cart {
            position: relative;
            width: 31px;
            height: 27px;
            background: url("../img/svg/cart.svg") center center/100% 100% no-repeat; }
            @media (max-width: 1365px) {
              header .container .content .bottom .user-menu .cart {
                width: 26px;
                height: 22px; } }
            @media (max-width: 480px) {
              header .container .content .bottom .user-menu .cart {
                width: 21px;
                height: 18px; } }
            header .container .content .bottom .user-menu .cart span {
              position: absolute;
              left: 31px;
              top: -13px;
              font-weight: 500;
              font-size: 12px;
              line-height: 140%;
              text-transform: uppercase;
              text-align: center;
              color: #434343; }
              @media (max-width: 480px) {
                header .container .content .bottom .user-menu .cart span {
                  left: 16px;
                  font-size: 10px; } }
          header .container .content .bottom .user-menu .burger {
            display: none;
            width: 23px;
            height: 23px;
            background: url("../img/svg/burger.svg") center center/100% 100% no-repeat;
            cursor: pointer;
            margin-left: 28px; }
            @media (max-width: 991px) {
              header .container .content .bottom .user-menu .burger {
                display: block; } }
            @media (max-width: 480px) {
              header .container .content .bottom .user-menu .burger {
                margin-left: 20px;
                width: 20px;
                height: 20px; } }

footer {
  background: #F8F8F8;
  display: flex;
  flex-direction: column;
  padding-top: 65px;
  padding-bottom: 15px; }
  @media (max-width: 940px) {
    footer {
      padding-top: 30px; } }
  footer > a {
    margin: 0 auto;
    width: max-content;
    font-size: 12px;
    line-height: 170%;
    color: #1b1b1b;
    padding-right: 42px;
    position: relative;
    text-decoration: none; }
    footer > a:after {
      content: '';
      width: 33px;
      height: 19px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background: url("../img/svg/space.svg") center center/100% 100% no-repeat; }
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 53px; }
    @media (max-width: 940px) {
      footer .container {
        display: grid;
        grid-template-areas: 'menu menu' 'logo links'; } }
    @media (max-width: 480px) {
      footer .container {
        grid-template-areas: 'logo' 'menu' 'links';
        width: 100%;
        grid-template-columns: 100%;
        justify-content: center; } }
    footer .container .logo {
      width: 423px;
      height: 132px;
      margin-right: 95px; }
      @media (max-width: 1919px) {
        footer .container .logo {
          width: 350px;
          height: 113px; } }
      @media (max-width: 1720px) {
        footer .container .logo {
          margin-right: 50px; } }
      @media (max-width: 1365px) {
        footer .container .logo {
          width: 210px;
          height: 65px; } }
      @media (max-width: 940px) {
        footer .container .logo {
          grid-area: logo; } }
      @media (max-width: 480px) {
        footer .container .logo {
          margin: 0 auto 25px; } }
    footer .container .menu {
      flex: 1;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 35px;
      padding: 0;
      margin: 0;
      text-align: center; }
      @media (max-width: 940px) {
        footer .container .menu {
          grid-area: menu;
          margin-bottom: 25px; } }
      @media (max-width: 480px) {
        footer .container .menu {
          grid-template-columns: 1fr 1fr;
          width: 100%; } }
      footer .container .menu li {
        display: flex;
        font-size: 18px;
        line-height: 22px;
        color: #1b1b1b; }
        @media (max-width: 1365px) {
          footer .container .menu li {
            font-size: 15px;
            line-height: 18px; } }
        footer .container .menu li a {
          text-decoration: inherit;
          color: inherit;
          width: 100%; }
    footer .container .social {
      margin-left: 105px;
      display: flex;
      flex-direction: column; }
      @media (max-width: 1720px) {
        footer .container .social {
          margin-left: 50px; } }
      @media (max-width: 940px) {
        footer .container .social {
          grid-area: links; } }
      @media (max-width: 480px) {
        footer .container .social {
          margin: 0 auto; } }
      footer .container .social p {
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        color: #1b1b1b;
        margin: 0 0 25px; }
        @media (max-width: 1365px) {
          footer .container .social p {
            font-size: 18px;
            line-height: 21px; } }
      footer .container .social .links {
        display: flex;
        align-items: center; }
        footer .container .social .links a {
          width: 27px;
          height: 27px;
          margin-right: 30px; }
          footer .container .social .links a.telegram {
            background: url("../img/svg/telegram.svg") center center/100% 100% no-repeat; }
          footer .container .social .links a.instagram {
            background: url("../img/svg/instagram.svg") center center/100% 100% no-repeat; }
          footer .container .social .links a.facebook {
            background: url("../img/svg/facebook.svg") center center/100% 100% no-repeat; }
          footer .container .social .links a:last-child {
            margin-right: 30px; }
