section.catalog {
  position: relative;
  padding-bottom: 165px; }
  section.catalog:before {
    content: '';
    height: calc(100% + 250px);
    width: 100vw;
    position: absolute;
    top: -250px;
    left: 0;
    background: #917898;
    z-index: -1; }
