section.cart-popup.popup {
  display: flex;
  flex-direction: column;
  padding: 0;
  max-width: 1300px;
  width: 100%; }
  section.cart-popup.popup .text {
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    color: #1b1b1b;
    margin: 75px 0 30px 65px; }
  section.cart-popup.popup .cart-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 98px; }
    section.cart-popup.popup .cart-list .elem {
      padding: 35px 30px 25px 65px;
      border-top: 1px solid #949494;
      box-sizing: border-box;
      display: grid;
      grid-template-areas: 'image name name delete' 'image count count sum'; }
      section.cart-popup.popup .cart-list .elem .image {
        grid-area: image;
        width: 215px;
        height: 175px;
        margin-right: 65px; }
        section.cart-popup.popup .cart-list .elem .image img {
          width: 100%;
          height: 100%;
          object-fit: contain; }
      section.cart-popup.popup .cart-list .elem .name {
        grid-area: name;
        align-self: center;
        font-weight: 500;
        font-size: 22px;
        line-height: 27px;
        color: #1b1b1b;
        margin: 0;
        text-decoration: none; }
      section.cart-popup.popup .cart-list .elem .delete {
        grid-area: delete;
        align-self: center;
        justify-self: flex-end;
        width: 20px;
        height: 20px;
        position: relative; }
        section.cart-popup.popup .cart-list .elem .delete:before {
          content: '';
          width: 100%;
          height: 2px;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          transform: rotate(45deg);
          background: #000; }
        section.cart-popup.popup .cart-list .elem .delete:after {
          content: '';
          width: 100%;
          height: 2px;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          transform: rotate(-45deg);
          background: #000; }
      section.cart-popup.popup .cart-list .elem .count {
        display: flex;
        align-items: center;
        align-self: flex-end;
        justify-self: flex-end;
        grid-area: count; }
        section.cart-popup.popup .cart-list .elem .count .count-btn {
          width: 22px;
          height: 22px;
          border: none;
          background: transparent;
          position: relative;
          cursor: pointer; }
          section.cart-popup.popup .cart-list .elem .count .count-btn:before {
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            background: #949494; }
          section.cart-popup.popup .cart-list .elem .count .count-btn.plus:after {
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            background: #949494;
            transform: rotate(90deg); }
        section.cart-popup.popup .cart-list .elem .count label {
          margin: 0 22px;
          width: 75px;
          display: flex; }
          section.cart-popup.popup .cart-list .elem .count label input {
            width: 100%;
            border: 1px solid #949494;
            box-sizing: border-box;
            border-radius: 4px;
            padding: 10px;
            text-align: center;
            outline: none;
            font-size: 24px;
            line-height: 29px;
            color: #000;
            -moz-appearance: textfield;
            appearance: none; }
            section.cart-popup.popup .cart-list .elem .count label input::-webkit-outer-spin-button, section.cart-popup.popup .cart-list .elem .count label input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0; }
      section.cart-popup.popup .cart-list .elem .sum {
        align-self: flex-end;
        justify-self: flex-end;
        grid-area: sum;
        font-weight: 500;
        font-size: 26px;
        line-height: 32px;
        color: #000;
        margin: 0; }
        section.cart-popup.popup .cart-list .elem .sum span {
          margin-left: 3px; }
      section.cart-popup.popup .cart-list .elem:last-child {
        border-bottom: 1px solid #949494; }
  section.cart-popup.popup .user-menu {
    margin: 0 30px 88px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    section.cart-popup.popup .user-menu .close {
      min-width: 230px;
      border: 2px solid #917898;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 10px;
      font-size: 16px;
      line-height: 20px;
      color: #917898;
      cursor: pointer;
      text-decoration: none;
      outline: none;
      text-align: center; }
    section.cart-popup.popup .user-menu .continue {
      display: flex;
      align-items: center;
      max-width: 100%;
      width: max-content; }
      section.cart-popup.popup .user-menu .continue .total-sum {
        font-weight: 500;
        font-size: 42px;
        line-height: 51px;
        color: #000;
        margin: 0 40px 0 0; }
        section.cart-popup.popup .user-menu .continue .total-sum span {
          margin-left: 3px; }
      section.cart-popup.popup .user-menu .continue a {
        min-width: 190px;
        background: #917898;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        line-height: 20px;
        color: #ffffff;
        margin: 0;
        text-decoration: none;
        text-align: center; }
  section.cart-popup.popup .popup-slider {
    padding: 0 100px; }
    section.cart-popup.popup .popup-slider .product-card .btns button {
      min-width: 150px; }
  section.cart-popup.popup > .close {
    top: 85px;
    right: 35px; }
